# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# environment variables
.env

.DS_Store
/planning/.DS_Store
/planning/img/.DS_Store
/client/node_modules